
//General Colors
$primary-color: #bfa275;
$win-color: #16c359;
$lose-color: #ff0000;
$tie-color: gray;
$text-color: #ffffff;
$border-color: #ffd700;
$header-background: #161616;
$action-button-background: #070707;

//Root
$body-gradient: linear-gradient(180deg, #444 0%, #000 100%);

//Board
$chip-bg: #fff;
$chip-border: #225eff;
$chip-text: #000000;

$rock-bg: #211f4f;
$rock-border: #2e4d97;
$rock-text: #2680ea;

$paper-bg: #1a381d;
$paper-border: #187e3a;
$paper-text: #16c359;

$scissors-bg: #50091e;
$scissors-border: #9a0e30;
$scissors-text: #e31542;
